.mainShop-image 
  width 50%
  float left

.mainShop-image1 
  background url(../img/ndp-main3.jpg) no-repeat center
  background-size cover
  height 100vh
  background-color tomato

.mainShop-image2 
  background url(../img/ndp-main2.jpg) no-repeat center
  background-size cover
  height 50vh

.mainShop-image3 
  background url(../img/ndp-main1.jpg) no-repeat center
  background-size cover
  height 50vh
  
.welcome 
  wrapped()
  text-align center
  display flex
  flex-direction column
  align-items center
  padding-bottom 10rem
  padding-top 10rem

.welcome-intro 
  width 700px
  font-size 1.7rem
  
.productContainer 
  wrapped()
  min-height 500px
  padding-bottom 5rem
  padding-top 3rem
  display flex
  justify-content center
  
.productContainer--news 
  background-color $light-blue
  position relative

.follow 
  wrapped()
  display flex
  flex-direction column
  align-items center
  padding-top 4rem
  padding-bottom 4rem
  background-color white
