.mainShop-image
  width 50%
  float left

.mainShop-image1
  background url(/img/ndp-main3.jpg) no-repeat center
  background-size cover
  height 100vh

.mainShop-image2
  background url(/img/ndp-main2.jpg) no-repeat center
  background-size cover
  height 50vh

.mainShop-image3
  background url(/img/ndp-main1.jpg) no-repeat center
  background-size cover
  height 50vh
