.shopMain
  wrapped(90%)
  min-height 100vh
  background-color $light-gray
  display flex
  align-items center
  justify-content space-between
  
  .content
  .image
    lost-column 5.5/12 0 0
    
  .content
    text-align center
    
.shopAbout
  wrapped()
  padding-top 6rem
  padding-bottom 6rem
  min-height 80vh
  display flex
  align-items center
  justify-content space-between
  
  .content
  .image
    lost-column 5.5/12 0 0
    
.products
  wrapped()
  padding-top 6rem
  padding-bottom 6rem
  min-height 80vh
  display flex
  align-items center
  justify-content space-between
  
  .product
    lost-column 1/3
    
.nuevoAmanecer
  margin-top 6rem
  margin-bottom 6rem
  min-height 80vh
  display flex
  align-items center
  background-color $light-gray
  
  .content
  .image
    lost-column 6/12 0 0
    
  .content
    padding-right 6rem
    padding-left 6rem
    
.ambassadors
  wrapped()
  padding-top 6rem
  padding-bottom 6rem
  min-height 80vh
  text-align center
  
  .content
    max-width 756px
    margin-right auto
    margin-left auto