@font-face
  font-family 'velino'
  src url('/fonts/velino.eot'),
      url('/fonts/velino.eot?#iefix') format('embedded-opentype'),
      url('/fonts/velino.woff2') format('woff2'),
      url('/fonts/velino.woff') format('woff'),
      url('/fonts/velino.ttf') format('truetype'),
      url('/fonts/velino.svg#velino_textbook') format('svg')
  font-weight normal
  font-style normal