.title
  font-size responsive 1.5rem 2rem
  color $principal
  line-height 1
  text-transform uppercase
  font-weight 700
  margin-top 0
  letter-spacing 0.1rem
  position relative
  margin-bottom 0
  text-align center

  &--big
    font-size responsive 2.3rem 3.5rem

.title--white
  color white

.title--vertical
  writing-mode vertical-lr
  transform rotate(180deg) translateY(50%)
  color white
  font-weight 600
  letter-spacing 0.1rem
  text-transform uppercase
  position absolute
  top 50%

  +below(750px)
    display none

.title--bold
  font-size 3rem
  color $red
  text-transform uppercase

  +below(750px)
    font-size 2rem

.subtitle
  margin-top 0
  text-transform uppercase
  font-size 1.5
  color $principal
  font-weight 700

  &--white
    color white

p
  font-size 16px
  color $principal

.tag
  color $black
  font-size 14px
  font-weight 600
  letter-spacing 0.1rem
  text-transform uppercase

.tag--slogan
  font-family 'Patua One'
  font-size 1.5rem
  color $principal
  margin 0

  +below(750px)
    font-size 1rem
