.title
  font-size 2rem
  color $principal
  line-height 45px
  text-transform uppercase
  font-weight 600
  
  &--big
    font-size responsive 2.5rem 3.5rem
  
p
  font-size 22px
  color $black
  letter-spacing 0
  line-height 32px