.ambassador-list
  display flex
  flex-wrap wrap
  margin-top 6rem
  
.ambassador
  lost-column 1/5 5 32px
  margin-bottom 4rem
  
  +below($mobile)
    lost-column 1/2
  
  &-image
    margin 0
    
    img
      width 100%
      display block
      
  &-name
    margin-top 1rem
    margin-bottom 0
    font-weight 600