.btn
  padding .7rem 2rem
  text-decoration none
  text-transform uppercase
  transition 300ms all ease-in-out
  
  &--principal
    background-color $principal
    color white
    border-radius 4px
    letter-spacing 1px
    font-weight 600
    
    &:hover
      background-color lighten($principal, 10)