.btn
  padding .7rem 2rem
  text-decoration none
  text-transform uppercase
  transition 300ms all ease-in-out
  color white
  border-radius 4px
  letter-spacing 1px
  font-weight 600
  
  &--principal
    background-color $principal
    
    &:hover
      background-color lighten($principal, 10)
      
  &--action
    background-color $green
    
    &:hover
      background-color lighten($green, 5)