.checkboxRadio
  appearance none
  width 20px
  height 20px
  margin-right 2rem
  border-radius 50%


.checkboxRadio--green
  background #156A19

.checkboxRadio--blue
  background #252D3B

.checkboxRadio:checked
  box-shadow 0 2px 4px 0 rgba(0,0,0,0.50)
  border 2px solid white
