.footer
  wrapped()
  padding-bottom 4rem
  display flex
  justify-content space-between
  background-color #00285a
  padding-top 4rem
  align-items center

  +below($desktop)
    wrapped(90%)
    display flex
    height 400px
    text-align center
    flex-direction column
    justify-content space-around

.footer-info
  width 250px

.footer-info p
  color white

.social
  display flex
  align-items center

.social-link
  margin-right 2rem

  &:last-child
    margin-right 0
