.footer
  wrapped()
  padding-bottom 4rem
  display flex
  justify-content space-between
  background-color #00285a
  padding-top 4rem
  align-items center

.footer-info
  width 250px

.footer-info p
  color white

.social
  display flex
  align-items center

.social-link
  margin-right 2rem
