.input-select
  padding .25rem 2rem .25rem 1rem
  appearance none
  font-family inherit
  font-size 1rem
  font-weight 800
  color $principal
  text-transform uppercase
  background-color transparent
  border-radius 5px
  border 2px solid $principal

select
  background-image url(/img/arrow-input.svg);
  background-repeat no-repeat
  background-position 95% 50%
