.mainNav
  display flex
  align-items center
  
  +below($mobile)
    display none

.mainNav-link
  text-transform uppercase
  text-decoration none
  font-weight 600
  margin-right 2rem
  color $principal