.mainHeader
  wrapped(90%)
  display flex
  width 100%
  top 0
  justify-content space-between
  padding-top .5rem
  padding-bottom .5rem
  align-items center
  z-index 10

  +below($mobile)
    background-color $light-gray
    position static

.mainHeader-logo
  width 260px
  text-decoration none

  & img
    width 100%
    display block

.is-scrolled
  position fixed
  background-color white
  opacity: 0.9;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.10);
