.mainHeader
  wrapped(90%)
  position absolute
  top 2rem
  right 0
  left 0
  display flex
  align-items center
  justify-content space-between
  z-index 10
  
  +below($mobile)
    background-color $light-gray
    justify-content center
    position static
    padding-top 2rem
    
.mainHeader-logo
  width 260px
  text-decoration none
  
  & img
    width 100%
    display block  
    
.mainHeader--shop
  wrapped()
  display flex
  width 100%
  top 0
  justify-content space-between
  padding-top .5rem
  padding-bottom .5rem
  align-items center

.is-scrolled
  position fixed
  background-color white
  opacity: 0.9;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.10);