.newsletter
  text-align center
  
  &-inputs
    margin-right auto
    margin-left auto
    display flex
    overflow hidden
    border-radius 4px
    background-color white
    max-width 500px

.newsletter--fixed
  position absolute
  bottom 4rem
  left 50%
  
  +above($mobile)
    transform translateX(-50%)
  
  +below($mobile)
    position static
    margin-top 6rem
    
.newsletter--footer
  wrapped(50%)
  width 100%
  padding-top 10rem
  padding-bottom 10rem
  background-color $principal
  
  +below($mobile)
    wrapped(90%)

.email,
.button
  font-size 1rem
  font-family 'Dosis', sans-serif
  letter-spacing 2px
  border 0
  text-align center
  
.email:focus,
.button:focus
  outline 0
  
.email
  flex-grow 1
  
.button
  padding .75rem 2rem
  text-transform uppercase
  background-color $green
  color white
  font-weight 600
  transition 300ms all ease-in-out
  
  &:hover
      background-color lighten($green, 5)