.product-inside 
  background-color white
  width 900px
  display flex
  margin-left 20%
  margin-top 6rem
  margin-bottom 6rem
  border-radius 5px
  box-shadow 0 10px 30px 0 rgba(0,0,0,0.20)
  position absolute
  
.product-images 
  overflow hidden
  width 50%
  
.images-option 
  display block
  float left
  width 33.33%
  max-height 140px

.images-option img 
  width 100%

.images-option: first-child 
  width 100%
  max-height 60%
  
.product-details 
  padding 6rem
  display flex
  flex-direction column
  justify-content center
  
.product-titleInside
  font-family 'Patua One'
  font-size 2.5rem
  color $principal
  text-transform uppercase
  letter-spacing 0.1rem
  padding-bottom 1rem
  
.requirements 
  float left
  
.product-variantSelector 
    position relative

.product-variantSelector .select 
  padding .5rem 2rem .5rem 1rem
  -webkit-appearance none
  -moz-appearance none
  appearance none
  font-family inherit
  font-size 1rem
  font-weight 800
  color $principal
  text-transform uppercase
  background-color transparent
  border-radius 0
  border 2px solid $principal
  margin-right 2rem
  margin-top 2rem