.product 
  text-align center
  float left
  padding 2rem
    
.product-title 
  padding-bottom 2rem
  text-transform uppercase
  letter-spacing 0.1rem
  color $principal
  font-weight 600
  font-size 1.5rem

.product-info 
  background-color white
  padding 2rem
  box-shadow 0 10px 30px 0 rgba(0,0,0,0.20)
  border-radius 5px
  display flex
  flex-direction column
  align-items center
  
.productVariants 
  display flex
  flex-direction row
  padding-top 1rem

.productVariants--preview 
  justify-content center
  
.variant1 
  width 20px
  height 20px
  margin-right 2rem
  background-color #00285A
  border-radius 50%
  border 2px solid white

.variant1--active 
  box-shadow 0 2px 4px 0 rgba(0,0,0,0.50)

.variant2 
  width 20px
  height 20px
  background-color $green
  border-radius 50%
  border 2px solid white

.product: last-child 
  margin-right 0