.product
  display flex
  flex-wrap wrap
  justify-content center
  margin 0 1.5rem

  .btn
    transform translateY(-50%)

.product-image img
  border-radius 5px
  box-shadow 0 10px 30px 0 rgba(0,0,0,0.20)
  padding 2rem 4rem

.product-image--new img
  padding 0

.product-title
  text-align center
