.product
  text-decoration none
  
  :hover .btn--buy
    bottom 1rem
  
.product-image
  margin 0
  overflow hidden
  border-radius 4px
  position relative
  
  img
    width 100%
    display block
    
.product-info
  padding-right 1rem
  padding-left 1rem
  display flex
  justify-content space-between
  font-weight 700
  text-transform uppercase
  
.product-name
  color $principal
  
.product-price
  color $green
  
.product-name
.product-price
  margin-top 1rem
  margin-bottom 0
  
.btn--buy
  position absolute
  bottom -2.5rem
  left 50%
  transform translateX(-50%)
  transition 250ms all ease-in-out