.product-inside 
  background-color white
  width 900px
  border-radius 5px
  box-shadow 0 10px 30px 0 rgba(0,0,0,0.20)
  display flex
  
.product-images 
  overflow hidden
  width 50%
  margin 0
  flex 0 0 auto
  display flex
  flex-wrap wrap
  
.images-option 
  display block
  float left
  width 33.33%

img 
  width 100%

.images-option:first-child 
  width 100%
  
.product-details 
  display flex
  padding 4rem
  flex-direction column
  justify-content center
  
.requirements 
  float left
  
.product-variantSelector 
    position relative

.product-variantSelector .select 
  padding .5rem 2rem .5rem 1rem
  appearance none
  font-family inherit
  font-size 1rem
  font-weight 800
  color $principal
  text-transform uppercase
  background-color transparent
  border-radius 0
  border 2px solid $principal