.productInside
  display flex
  min-width 788px
  width 90vw
  max-width 900px
  height 80vh

  +below(750px)
    min-width 50%
    flex-wrap wrap

.productInside-name
  display flex
  align-items center

.productInside-gender
  display flex
  margin-bottom 1.5rem

.btn--secondary
    margin-right 1rem

    &:last-child
      margin-right 0

.productInside-details
  lost-column 1/2 0 0
  display flex
  padding 4rem
  flex-direction column
  justify-content center

  +below(750px)
    lost-column 1/1 0 0

  p
    margin .5rem 0 2rem 0

.productInside-inputs
  display flex
  margin-bottom 2rem

  +below(750px)
    flex-direction column
    margin-bottom 0

.productInside-colors
  display flex
  flex-direction column
  margin-right 1.5rem

.product-variant
  display flex
  flex-wrap wrap
  margin-right 1rem

  +below(750px)
    margin-bottom 2rem

  &:last-child
    margin-right 0

  label
    width 100%
    margin-bottom .5rem

  .checkboxRadio
    margin-top .5rem

.product-price
  margin-left 2rem
  color $green
  font-weight 600
  font-size 2rem
