.slide-image
  display block
  height 80vh
  background-size cover
  background-position center

.unslider
  position relative
  width 100%

.unslider-nav
  position absolute
  left 0
  right 0
  bottom 0
  display flex
  justify-content center
  padding 1rem
