.social-links
  display flex
  align-items center
  margin-top 4rem
  
  &:hover a
    opacity .5
  
  a
    text-decoration none
    margin-right 1.5rem
    width 1.5rem
    transition 350ms all ease-in-out
    
    &:last-child
      margin-right 0
      
    &:hover
      opacity 1
    
  img
    width 100%
    display block