<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Noches de Pitcheo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>Shop - Noches de Pitcheo</title>
  <!-- Facebook Tags -->
  <meta property="og:url"         content="http://www.nochesdepitcheo.com/shop" />
  <meta property="og:type"        content="website" />
  <meta property="og:image"       content="http://www.nochesdepitcheo.com/img/ndp-fb-shop.jpg" />
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.min.css">
</head>
<body>
  <div class="product-inside">
    <figure class="product-images">
      <a class="images-option" href="https://www.instagram.com/p/BYetYWRn732/?taken-by=nochesdepitcheo">
        <img src="img/ndp-tshirts-marca10.jpg" alt="">
      </a>

      <a class="images-option" href="https://www.instagram.com/p/BYetYWRn732/?taken-by=nochesdepitcheo">
        <img src="img/ndp-tshirts-marca10.jpg" alt="">
      </a>

      <a class="images-option" href="https://www.instagram.com/p/BYetYWRn732/?taken-by=nochesdepitcheo">
        <img src="img/ndp-tshirts-marca10.jpg" alt="">
      </a>

      <a class="images-option" href="https://www.instagram.com/p/BYetYWRn732/?taken-by=nochesdepitcheo">
        <img src="img/ndp-tshirts-marca10.jpg" alt="">
      </a>
    </figure>

    <button class="btn btn--close"></button>

    <div class="product-details">
      <h3 class="product-titleInside">Growth Tee</h3>
      <p>T-shirt polister 100% algodon, corte femenino fit body</p>
      <p class="tag">COLORES DISPONIBLES</p>

      <div class="productVariants">
        <a class="variant1 variant1--active" href="#0"></a>
        <a class="variant2"href="#0"></a>
      </div>

      <div class="requirements">
        <p class="tag">STYLE</p>
        <div class="product-variantSelector">
          <select class="select" name="sex">
            <option value="M">Mujer</option>
            <option value="H">Hombre</option>
          </select>
        </div>

        <p class="tag">SIZE</p>
        <select class="select" name="size">
          <option value="S">S</option>
          <option value="M">M</option>
          <option value="L">L</option>
          <option value="XL">XL</option>
        </select>
      </div>
    </div>

    <div class="buy">
      <span class="product-price">$199</span>
      <button class="btn btn--inside">comprar</button>
    </div>
  </div>
</body>
</html>